@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Colors
$primary-color: #ffe600;
$primary-text-color: #333333;
$secondary-text-color: #666666;
$third-text-color: #999999;
$background-color: #eeeeee;
$button-color: #3483fa;

// Breakpoints
$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "xlarge": 1200px,
);

// Typography
$font-family-base: "Roboto", sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-2xl: 28px;
$font-size-3xl: 46px;

// Spacing
$padding-xs: 16px;
$padding-md: 32px;

// Border radius
$border-radius: 4px;
