@use "../abstract/variables" as *;
@use "sass:map";

.item-search-card {
  display: flex;
  border-bottom: 1px solid $background-color;
  border-radius: $border-radius;
  padding: $padding-xs 0;

  .item-image {
    width: 180px;
    height: 180px;
    border-radius: $border-radius;
    margin-right: $padding-xs;
  }
  .item-info {
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: $padding-xs 0 $padding-xs 0;
    width: 70%;

    .item-details {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .item-price {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: $font-size-xl;
        margin-bottom: $padding-md;
      }

      .item-city {
        font-size: $font-size-xs;
        text-transform: capitalize;
        color: $secondary-text-color;
        padding-top: 8px;
      }
    }

    .item-title {
      font-size: $font-size-lg;
      max-width: 70%;
      text-transform: capitalize;
    }
  }
}

@media (max-width: map.get($breakpoints, small)) {
  .item-search-card {
    .item-image {
      width: 120px;
      height: 120px;
    }
    .item-info {
      width: 100%;
      padding: 0;
      gap: 8px;

      .item-details {
        .item-price {
          display: flex;
          gap: 8px;
          align-items: center;
          font-size: $font-size-lg;
          margin-bottom: 8px;
        }
      }
      .item-title {
        font-size: $font-size-md;
        max-width: 100%;
        text-transform: capitalize;
      }
    }
  }
}
