@use "../abstract/variables" as *;

.categories-nav {
  padding: $padding-xs 0;

  .categories-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    .category-item {
      display: flex;
      align-items: center;
      font-size: $font-size-sm;
      color: $secondary-text-color;

      .category-text {
        cursor: pointer;
        &:hover {
          color: $third-text-color;
        }
      }

      .separator {
        margin: 0 8px;
        color: $secondary-text-color;
        font-size: $font-size-xl;
      }
    }
  }
}
