@use "../abstract/variables" as *;
@use "sass:map";
.items-container {
  max-width: map.get($breakpoints, xlarge);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0 $padding-xs;
  border-radius: $border-radius;
  width: 100%;
}
