@use "../abstract/variables" as *;
@use "sass:map";

.container {
  max-width: map.get($breakpoints, xlarge);
  margin: 0 auto;
  padding: 0 16px;
  align-items: center;
  gap: 24px;
  width: 100%;
}
